# Go
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
build/
ios/Pods
ios/.symlinks
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/ephemeral
android/.gradle
android/local.properties
android/.settings/
android/app/build

# Node
node_modules/

# Editor
.idea/
.vscode/
*.iml
.DS_Store
